In [23]:
import pandas as pd

In [24]:
df1 = pd.read_csv('slope/uid.csv')
df1 = df1.dropna()
df1 = df1.drop_duplicates()

In [25]:
df2 = pd.read_csv('roi.csv')

In [26]:
newid = [int(x[:4]) for x in df1['UID_slopes_tb']]

In [27]:
df1['UID_slopes_tb'] = newid

In [28]:
df = df2.merge(df1, left_on='1', right_on='UID_slopes_tb', how='inner')

In [29]:
df3 = df.drop(['UID_slopes_tb', '1'], axis=1)

In [30]:
df3.to_csv('data_roi2.csv', index=False)

In [31]:
df3.shape

(59, 159)

In [32]:
df3.head(3)

,2,3,4,5,6,7,8,9,10,11,...,151,152,153,154,155,NFL,Ab_142,hTau,Ptau,Neurogranin
0,0.22597,0.002910,-0.002499,0.000109,-0.004744,-0.001337,0.000563,-0.22687,0.001049,0.002374,...,-0.004467,-0.000503,0.000697,0.000568,-0.000735,1881,785.33,357.47,71.218,893.0
1,-0.47353,-0.000230,0.002293,-0.005213,-0.001607,0.001950,-0.006340,0.91033,0.004236,0.004082,...,-0.001232,0.002993,0.000454,-0.000647,-0.006331,729,660.46,176.41,32.398,125.0
2,-1.74980,-0.002121,-0.002311,-0.006518,-0.003096,0.001988,-0.011096,-3.57430,-0.005843,0.001970,...,0.001083,-0.001482,0.004377,0.000786,0.000300,760,602.03,346.18,53.077,362.0